_OLD
docker-compose.yml
dapps-server/data
litecoind-private/
litecoind-public/
anypool-stratum/




#### Common ignored files ###
# Byte-compiled / optimized python files
__pycache__/
*.py[cod]
*$py.class