# Faculty's docker-compose
docker-compose.yml


# Knfcoind data folders
knfcoind-private/
knfcoind-public/
knfcoind-dummy/


# Stratum server data folder
anypool-stratum/


# Served dapps
dapps-server/data



_OLD




#### Common ignored files ###
# Byte-compiled / optimized python files
__pycache__/
*.py[cod]
*$py.class