services:

  # ------------------------------------------------------------
  #              Incoming/outgoing traffic endpoints
  # ------------------------------------------------------------
  faucet-endpoint:
    container_name: faucet-endpoint
    image: caddy:2.11-alpine
    user: 1000:1000
    read_only: true
    environment:
      ############################ SISTEMOS PASSWORD #######################
      APP_PASSWORD_1: FAUCET_GUI_PASSWORD
      ######################################################################
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./_VIDEOS:/var/www/videos
    ports:
      - 80:80
    restart: unless-stopped

  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------







  # ------------------------------------------------------------
  #                        Students gate
  # ------------------------------------------------------------
  faucet-login:
    container_name: faucet-login
    image: vuknf/simple-login-page:20260401
    environment:
      VITE_SYSTEM_NAME: "KNF Testnet<br/>Kriptovaliutų Faucet'as"
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------











  # ------------------------------------------------------------
  #                    Crypto Faucet Services
  # ------------------------------------------------------------
  faucet-vite:
    container_name: faucet-vite

    # Docker hub
    image: vuknf/faucet-vite:latest

    # # Self-built
    # image: faucet-vite
    # build:
    #   context: ./vite
    #   # dockerfile: Dockerfile                                                         # Prod
    #   dockerfile: Dockerfile.dev                                                     # Dev

    user: 1000:1000
    read_only: true
    # tmpfs:                                                                           # Dev
    #   - /home/node/.npm:uid=1000,gid=1000                                            # Dev
    # volumes:                                                                         # Dev
    #   - ./vite/app:/app                                                              # Dev
    restart: unless-stopped


  faucet-backend:
    container_name: faucet-backend
    
    # Docker hub
    image: vuknf/faucet-backend:latest
    
    # # Self-built
    # image: faucet-backend
    # build: ./backend
    
    user: 1000:1000
    environment:
      # App Configuration
      # - APP_DEBUG=True                                                               # Dev
      - DB_PATH=/data/database.db

      # Faucet Configs:
      - INFURA_PROJECT_ID=${INFURA_PROJECT_ID}
      - ETHERSCAN_API_KEY=${ETHERSCAN_API_KEY}
      - FAUCET_PRIVATE_KEY=${FAUCET_PRIVATE_KEY}
    tmpfs:
      - /.bitcoinlib:uid=1000,gid=1000
    volumes:
      # Configuration
      - /etc/localtime:/etc/localtime:ro
      - ./_CONFIG:/config:ro

      # Backend Database
      - ./_DATA/backend:/data

      # Backend Source Code
      # - ./backend:/app                                                               # Dev
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------








  
  # ------------------------------------------------------------
  #                   Crypto Faucet Notes
  # ------------------------------------------------------------
  faucet-etherpad:
    container_name: faucet-etherpad
    image: etherpad/etherpad:2.2.7
    user: root
    environment:
      - TITLE=Etherpad
      - DEFAULT_PAD_TEXT=KNF Faucet Notes
    volumes:
      - ./_DATA/etherpad:/opt/etherpad-lite/var
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------












  # ------------------------------------------------------------
  #                           Dapps services
  # ------------------------------------------------------------
  faucet-dapps-filebrowser:
    container_name: faucet-dapps-filebrowser
    image: vuknf/filebrowser-noauth:latest
    user: 1000:1000
    read_only: false
    volumes:
      # Filebrowser Configuration
      - ./dapps/settings.json:/config/settings.json

      # Dapps Root Directory
      - ./_DATA/dapps:/data
    restart: unless-stopped


  faucet-dapps-caddy:
    container_name: faucet-dapps-caddy
    image: caddy:2.11-alpine
    user: 1000:1000
    read_only: true
    volumes:
      # Caddy Configuration
      - ./dapps/Caddyfile:/etc/caddy/Caddyfile:ro

      # Dapps Root Directory
      - ./_DATA/dapps:/srv:ro
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------











  # ------------------------------------------------------------
  #              Additional administration services 
  # ------------------------------------------------------------
  faucet-dbgate:
    container_name: faucet-dbgate
    image: dbgate/dbgate:7.2.0
    environment:
      WEB_ROOT: /dbgate

      LOGINS: admin
      LOGIN_PASSWORD_admin: ${DBGATE_PASSWORD}

      CONNECTIONS: con1
      LABEL_con1: KNF Faucet DB
      FILE_con1: /data/database.db
      ENGINE_con1: sqlite@dbgate-plugin-sqlite
    read_only: false
    volumes:
      - ./_DATA/backend:/data
    restart: unless-stopped
  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------


